:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-color: #212121;
  --secondary-color: #757575;
  --tertiary-color: #ffffff;
  --quaternary-color: #000000;
  --quinary-color: rgba(255, 255, 255, 0.6);
  --page-bg-color: #2f303a;
  --modal-btn-color: #188ce8;
  --filter-btn-color: #f5f4fa;
  --accent-color: #2196f3;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-color);
}

/* WEB STUDIO */
/* header */
.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio-header {
  color: var(--quaternary-color);
}

.menu-link,
.contacts-header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link {
  color: inherit;
}

.contacts-header-link {
  color: var(--secondary-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link.current {
  color: var(--accent-color);
}

.contacts-header-link:hover,
.contacts-header-link:focus {
  color: var(--accent-color);
}
/* end header */

/* hero */
.hero {
  text-align: center;
  background-color: var(--page-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-color);
}

.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--tertiary-color);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--modal-btn-color);
}
/* end hero */

/* our features */
.features-name {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-desc {
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* end features */

/* our job & our team */
.job-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* end our job & our team */

/* footer */
.footer {
  background-color: var(--page-bg-color);
}

.logo-studio-footer {
  color: var(--tertiary-color);
}

.contacts-footer-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--quinary-color);
}

.contacts-footer-link.address {
  color: var(--tertiary-color);
}

.contacts-footer-link:hover,
.contacts-footer-link:focus {
  color: var(--accent-color);
}
/* end footer */
/* END WEB STUDIO */

/* PORTFOLIO */
/* our projects */
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--filter-btn-color);
  color: inherit;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--tertiary-color);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-desc {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* end our projects */
