:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
}

/* WEB STUDIO */
/* header */
.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio-header {
  color: #000000;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link.current {
  color: var(--accent-color);
}

.contacts-header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.contacts-header-link:hover,
.contacts-header-link:focus {
  color: var(--accent-color);
}
/* end header */

/* hero */
.hero {
  text-align: center;
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: #ffffff;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
}
/* end hero */

/* our features */
.features-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.features-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* end features */

/* our job & our team */
.job-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* end our job & our team */

/* footer */
.footer {
  background-color: #2f303a;
}

.logo-studio-footer {
  color: #ffffff;
}

.contacts-footer-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts-footer-address {
  color: #ffffff;
}

.contacts-footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer-address:hover,
.contacts-footer-address:focus {
  color: var(--accent-color);
}

.contacts-footer-link:hover,
.contacts-footer-link:focus {
  color: var(--accent-color);
}
/* end footer */
/* END WEB STUDIO */

/* PORTFOLIO */
/* our projects */
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #f5f4fa;
  color: var(--primary-color);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.project-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* end our projects */
